/* Основные стили */
body {
    font-family: 'Poppins', sans-serif;
    background: #f5f7fa;
    margin: 0;
    padding: 0;
    height: 100vh; /* Добавляем анимацию для body */
}

.container {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center;     /* Центрируем по вертикали */
    flex-direction: column;  /* Меняем направление на колонку, чтобы центрировать */
    flex-wrap: wrap;
    animation: fadeIn 0.5s ease; /* Добавляем анимацию для контейнера */
}

.title {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5rem;
    color: #0061ff;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    animation: fadeIn 0.5s ease; /* Добавляем анимацию для заголовка */
}

.specialization-table {
    width: auto; /* Позволяем таблице подстраиваться под содержимое */
    max-width: 900px; /* Установим максимальную ширину для таблицы */
    border-collapse: collapse;
    margin: 2rem 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease; /* Добавляем анимацию для таблицы */
    table-layout: fixed; /* Заставляем таблицу строго соблюдать ширину колонок */
}

.specialization-table th, .specialization-table td {
    padding: 1rem; /* Уменьшаем padding для более компактного вида */
    text-align: left;
    border-bottom: 1px solid #e2e8f0;
}

.specialization-table th {
    background-color: #0061ff;
    color: white;
}

.specialization-table th:first-child,
.specialization-table td:first-child {
    width: 80%; /* Задаем большую ширину для первой колонки */
}

.specialization-table th:last-child,
.specialization-table td:last-child {
    width: 120px; /* Фиксированная ширина для колонки "Действия" */
    text-align: center; /* Центрируем кнопку */
    padding: 1rem 0; /* Уменьшаем горизонтальный padding */
}

.specialization-table tr:hover {
    background-color: #f7fafc;
}

.specialization-table td button {
    background-color: #0061ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0; /* Убираем лишние отступы вокруг кнопки */
    width: 100%; /* Заставляем кнопку занимать всю доступную ширину ячейки */
    box-sizing: border-box; /* Учитываем padding в ширине кнопки */
}

.specialization-table td button:hover {
    background-color: #48daeb;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    animation: fadeIn 0.5s ease; /* Добавляем анимацию для модального окна */
}

.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 2rem;
    border-radius: 8px;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease; /* Добавляем анимацию для содержимого модального окна */
    position: relative;
}

.close-button {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    background-color: #0061ff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #48daeb;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.pagination-btn {
    margin: 0 0.5rem 3rem;
    padding: 1rem 1.5rem;
    border: 1px solid #0061ff;
    background-color: white;
    color: #0061ff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination-btn.active {
    background-color: #0061ff;
    color: white;
}

.pagination-btn:hover {
    background-color: #2d82d3;
    color: white;
}

.pagination-btn:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 768px) {
    .container {
        margin-top: 1rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .specialization-table {
        margin: 1rem 0;
    }

    .modal-content {
        width: 90%;
    }

    .specialization-table th:last-child,
    .specialization-table td:last-child {
        width: 100px; /* Уменьшаем ширину для маленьких экранов */
    }
}