<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/scripts/styles/register_style.css">
</head>
<body>
    <div class="register-container">
        <h2>MedSystem</h2>
        <h2>Регистрация</h2>
        <form id="registrationForm">
            <div class="form-group">
                <input type="text" id="fullName" name="fullName" placeholder="ФИО" class="form-control" required>
                <p id="error-fullName" class="error-message"></p>
            </div>
            <div class="form-group">
                <input type="text" id="mhiPolicy" name="mhiPolicy" placeholder="Полис ОМС" class="form-control" required>
                <p style="color: red" id="error-mhiPolicy" class="error-message"></p>
            </div>
            <div class="form-group">
                <input type="date" id="birthDate" name="birthDate" placeholder="Дата рождения" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Пароль" class="form-control" required>
                <p style="color: red" id="error-password" class="error-message"></p>
            </div>
            <button type="submit" class="btn">Зарегистрироваться</button>
        </form>
        <div style="text-align: center; margin-top: 15px"><a href="/login">Есть аккаунт? Авторизоваться</a></div>
    </div>
    <script src="/scripts/register.js"></script>
</body>
</html>
